@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
	font-family:"Open Sans";
}

/*
** Headers
*/

h1,
h2,
h3,
h4,
h5 {
	font-family:"Lato";
}
.brandname{
	font-family: 'Pacifico', cursive;
}
/*
** Containers
*/

.container1 {
	padding:40px 20px;
}

.container-spacy {
	padding:80px 20px;
}

/*
** Backgrounds
*/

.background-orange {
	background-color:#f8bc3b;
}

.background-green {
	background-color:#27ae60;
}

.background-grey {
	background-color:#3a3a3a;
}

.background-white {
	background-color:#fff;
}

.background-red {
	background-color:#db5940;
}

.background-purple {
	background-color:#16384c;
}

.background-baby-blue {
	background-color:#7ecefd;
}

.background-pale-blue {
	background-color:#d1e1ed;
}

.background-slate-blue {
	background-color:#2c3e50;
}

.background-midnight {
	background-color:#1f1f1f;
}

.background-blue {
	background-color:#028ca6;
}

/*
** Header
*/

header#main {
	margin-bottom:40px;
}

header#main .brand a {
	display:block;
	font-family: "Pacifico";
	font-size:2em;
	color:#f4f8f8;
	margin-bottom:20px;
}

/*
** Nav
*/

nav#main ul {
	list-style-type: none;
	margin:0;
	padding:0;
	float:right;
}

nav#main ul li {
	display:inline-block;
	margin-right:20px;
}

nav#main ul li:last-child {
	margin-right:0;
}

nav#main ul li a {
	font-size:78%;
	text-transform:uppercase;
	font-weight:600;
}

nav#main ul li a:not(.button) {
	color:#f8f8f8;
}

/*
** Buttons
*/

.button {
	padding:14px 30px;
	border-radius:5px;
}

.button-primary,
.button-primary:hover {
	background-color:#3a3a3a;
	color:#fff;
}

.button-secondary,
.button-secondary:hover {
	background-color:#fff;
	color:#3a3a3a;
}

/*
** Feature
*/

.feature {
	margin-top:20px;
}

.feature h1 {
	font-size:5.5em;
	color:#fff;
	text-transform: uppercase;
	font-weight:900;
	line-height:70px;
	margin-bottom:40px;
}

/*
** Features
*/

.features {
	text-align:center;
}

.features h5 {
	font-weight:600;
	font-size:1.4em;
}

.features p {
	font-size:80%;
	margin-bottom:40px;
}

.features img {
	margin-bottom:20px;
}

/*
** Recent
*/

.recent {
	text-align:center;
}

.recent h2 {
	color:#fff;
	text-transform: uppercase;
	letter-spacing:3px;
}

.recent p {
	margin-bottom:60px;
	color:#96eaba;
}

.recent .item {
	padding:100px 0;
	margin-top:30px;
}

.recent ul li a {
	color:#fff;
	border:2px solid transparent;
	padding:8px 20px;
	border-radius:5px;
	font-weight:600;
}

.recent ul li a:hover {
	border:2px solid #fff;
}

.recent ul li.selected a {
	background:#fff;
	color:#27ae60;
}

.recent .show-more {
	margin-top:40px;
	font-weight:600;
}

/*
** Lists 
*/

.inline-list {
	list-style-type:none;
}

.inline-list li {
	display:inline-block;
	margin:0 20px;
	margin-bottom:20px;
}

/* -------------------------------- adding buttons  ------------------------------- */

btn1 {
	background: #34d991;
	background-image: -webkit-linear-gradient(top, #34d991, #32b82b);
	background-image: -moz-linear-gradient(top, #34d991, #32b82b);
	background-image: -ms-linear-gradient(top, #34d991, #32b82b);
	background-image: -o-linear-gradient(top, #34d991, #32b82b);
	background-image: linear-gradient(to bottom, #34d991, #32b82b);
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 28px;
	font-family: Arial;
	color: #ffffff;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	margin-left: 0.5rem;
  }
  
  btn1:hover {
	background: #ffffff;
	background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
	background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
	background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
	background-image: -o-linear-gradient(top, #ffffff, #ffffff);
	background-image: linear-gradient(to bottom, #ffffff, #ffffff);
	color: black;
	border: black;
  }
  .but{
	  padding: 1rem;
	  display: flex;
	  align-items: center;
	  justify-content: space-between;
  }

  @media only screen and (max-width: 600px) {
    .but{
        display: table-row;
		
    }
	.but li{
		margin-bottom: 1.5rem;
	}
	.feature h1{
		font-size:3.5em;

	}
	.lc{
		margin-left: 4rem;
	}
}
  .lang1{
    color: black;
}

.lik{
	color: rgb(63, 236, 19);
	margin-bottom: 1rem;
	margin-top: 1px;
}
.lik:hover{
	color: #ae4d27;
}

footer{
    min-width: 450px;
}

footer.copyright{
    background: #16384c;
    color:#fff;
    text-align: center;
    padding:10px;
}