@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


*{
    margin: 0;
    padding: 0;
   
}
.brandname{
	font-family: 'Pacifico', cursive;
}

nav1{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #12130f;
    color: white;
    height: 72px;
}

.content{
    font-family: 'Potta One', cursive;
    color: #34d991;
}
.lang{
    color: yellow;
}


.container{
    /* background-color: red; */
    width: 50vw;
    padding: 32px 0;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.logo{
    padding: 0 13px;
    background-color: #040504;
}

.logo img{
    width: 32px;
}

.toolbar-item button{
    cursor: pointer !important;
    color: white !important;
    border: 1px solid white !important;
    border-radius: 15px !important;
    padding: 5px 14px !important;
}

code{
    
    width: 110px;
    height: 110px;
    overflow: auto;
}

@media (max-width: 600px){
    .but{
        display: table-row;
    }
    .but1{
        display: none;
    }
}